{% extends 'base.html' %}
{% load static %}

<!-- Custom styles -->
{% block style %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock style %}

<!-- Block content -->
{% block content %}
<div class="container bg-white">
    <div class="mx-auto py-2">
        <h2 class="align-center">Приветствую тебя, мой дорогой безымянный друг!</h2>
        <p>Данный сайт представляет из себя эдакую площадку для испытаний фреймворка Django. В настоящий момент он
            находится в разработке, но уже сейчас можно оценить его могучий потенциал:3</p>
        <h4 class='text-center'>Что работает уже сейчас:</h4>
        <ul>
            <li>В разделе <a href='{% url 'posts' %}'>Посты</a> можно посмотреть на самые обсуждаемые сообщения на данный момент времени.</li>
            <li>Их можно отфильтровать по ОПу или медиа...</li>
            <li>...или сортировать по дате или количеству ответов.</li>
            <li>В каждом посте есть вся информация, которую можно взять из самого двача, плюс(!) количество отсылок к
            этому сообщению в данном треде.</li>
            <li>Есть некое подобие <a href="{% url 'media' %}">галереи</a>. Там все изображения/видео с двача, за исключением тех, которые были в ОП постах
            (ибо тогда их получится гораздо больше, а они очень часто бывают анрелейтед).</li>
            <li>В разделе <a href="{% url 'top' %}">Топ</a> можно найти 5 самых популярных ОП постов, и 5 - не ОП.</li>
        </ul>
        <h4 class='text-center'>Чего планируется добавить:</h4>
        <ul>
            <li>Хочу полностью переделать визуальную составляющую. Bootstrap - это, конечно, хорошо, но душа к нему больше не лежит).</li>
            <li>Постам фатально не хватает pagination. Уже вроде и делал в каком-то виде, но работает он не корректно, поэтому
            пока убрал его полностью.</li>
            <li>Раздел <a href="{% url 'media' %}">Медиа</a> выглядит отвратительно. Я это знаю. Как сделать лучше не знаю, но
            когда-нибудь этим обязательно займусь.</li>
            <li>В перспективе хочу несколько изменить сам скрипт, который собирает сообщение, чтобы можно было
            разделять треды по категориям. Например, чтобы отдельно были WEBM треды, отдельно рулетки, отдельно бугурты. Но это потом.</li>
            <li>В <a href="{% url 'top' %}">Топе</a> некоторые строки отображаются не корректно.</li>
        </ul>
    </div>
</div>
{% endblock content %}
